*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:0; padding:0;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
}
:root{
    --main-color:#896436;
    --bg:#574024;
}
html{
    font-size: 63.5%;
}

body{
    background: var(--bg);
}

section{
    padding:10rem 7%;
}

.heading{
    text-align: center;
    color:rgb(255, 253, 253);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}


.heading span{
    color: #b08148;
    text-transform: uppercase;
}

.btn{
    margin-top: 3rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:rgb(251, 246, 246);
    background: #44331e;
    border-radius: 10px;

}

.btn:hover{
    letter-spacing: .5rem;
    transition: 0.2s;
}

.header{
    background: #2e2213;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.2rem 5%;
    position: fixed;
    top:0; left: 0; right: 0;
    
}

.header .logo img{
    height: 5rem;
}
.navbar{
    max-height: fit-content;
}
.header .navbar a{
    margin: 1rem;
    font-size: 2rem;
    color:#fff;
}

.header .navbar a:hover{
    color:#b08148;
    border-bottom: .3rem solid #b08148;
}

.about{
    background:url(../images/back-img.jpg) no-repeat;
}
.about .row{
    display: flex;
    align-items: center;
    background:black;
}

.about .row .image{
    flex: 60rem;
}

.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex: 50rem;
    padding: 2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:#fff;
}

.about .row .content p{
    font-size: 1.6rem;
    color:#ccc;
    padding:1rem ;
    line-height: 1.8;
}
